.column:hover{
  color: red;
  cursor: pointer;
}
.hidden:hover{
  color:lightgreen;
  cursor: pointer;
}
.column::before{
  content: "--";
  color: red
}
.hidden{
  display: inline;
}
.hidden::before{
  content: "+";
  color: lightgreen
}