.header{
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}
.icon{
  color: white
}
.icon:hover{
  color: cyan
}

.links{
  display: flex;
  color: white;
}

.links:hover{
  color: cyan
}
