.page{
  width: 100vw;
  display: flex;
}

.typography{
  text-align: left;
}
.listItems{
  text-align: left;
}
.description{
  width: 60vw;
}
.list{
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listHeader{
  text-align: center;
}